# Group 7 Project Proposal
#### Harsh A, Kyle M, Daniel L, Catarina A

In [18]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

In [19]:
water_data <- read_csv("data/water_potability.csv") |>
    mutate(Potability = as_factor(case_when(Potability == 1 ~ "Drinkable" , Potability == 0 ~ "Undrinkable")))
water_data

Rows: 3276 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (10): ph, Hardness, Solids, Chloramines, Sulfate, Conductivity, Organic_...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     ph       Hardness Solids   Chloramines Sulfate  Conductivity
1          NA 204.8905 20791.32 7.300212    368.5164 564.3087
2    3.716080 129.4229 18630.06 6.635246          NA 592.8854
3    8.099124 224.2363 19909.54 9.275884          NA 418.6062
⋮    ⋮        ⋮        ⋮        ⋮           ⋮        ⋮
3274 9.419510 175.7626 33155.58 7.350233    NA       432.0448
3275 5.126763 230.6038 11983.87 6.303357    NA       402.8831
3276 7.874671 195.1023 17404.18 7.509306    NA       327.4598
     Organic_carbon Trihalomethanes Turbidity Potability
1    10.37978       86.99097        2.963135  Undrinkable
2    15.18001       56.32908        4.500656  Undrinkable
3    16.86864       66.42009        3.055934  Undrinkable
⋮    ⋮              ⋮               ⋮         ⋮
3274 11.03907       69.84540        3.298875  Drinkable
3275 11.16895       77.48821        4.708658  Drinkable
3276 16.14037       78.69845        2.309149  Drinkable